@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  * {
<<<<<<< HEAD
    border-color: var(--border);
=======
    @applyborder-color: var(--border);
>>>>>>> 2bf3bbe (Fix header title color)
    outline-color: color-mix(in srgb, var(--accent) 75%, transparent);
    scrollbar-width: auto;
    scrollbar-color: var(--muted) transparent;
  }

  a,
<<<<<<< HEAD
  button {
    outline-color: var(--accent);
    @apply outline-offset-1 focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }

=======
<<<<<<< HEAD
button {
  outline-color: var(--accent);
  @apply outline-offset-1 focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
}
=======
  button {
    @apply outline-offset-1 focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
>>>>>>> 2bf3bbe (Fix header title color)
>>>>>>> 7bb8f59 (Fix header title color)
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

@utility app-layout {
  @apply max-w-app mx-auto w-full px-4;
}

@utility active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
  color: #b41111;
  text-decoration-color: #ffd21f;
}
main h1,
main h1 * {
  color: #b41111 !important;
}
:target {
  scroll-margin-block: 1rem;
}
