@plugin "@tailwindcss/typography";

@layer base {
  /* ===== Override default Tailwind Typography styles ===== */
  .app-prose {
    @apply prose;
  }

.app-prose h1,
.app-prose h2,
.app-prose h3,
.app-prose h4,
.app-prose th {
  @apply mb-3;
  color: #b41111;
}

  .app-prose h3 {
    @apply italic;
  }

  .app-prose p,
  .app-prose strong,
  .app-prose ol,
  .app-prose ul,
  .app-prose figcaption,
  .app-prose table,
  .app-prose code {
    color: var(--foreground);
  }

  .app-prose a {
    @apply wrap-break-word decoration-dashed underline-offset-4 focus-visible:no-underline;
    color: var(--foreground);
  }

  .app-prose a:hover {
    color: var(--accent);
  }

  .app-prose ul {
    @apply overflow-x-clip;
  }

  .app-prose li::marker {
    color: var(--accent);
  }

  .app-prose hr {
    border-color: var(--border);
  }

  .app-prose img {
    @apply mx-auto border;
    border-color: var(--border);
  }

  .app-prose figcaption {
    @apply opacity-75;
  }

  .app-prose table th,
  .app-prose table td {
    @apply border p-2;
    border-color: var(--border);
  }

  .app-prose table th {
    @apply py-1.5;
  }

  .app-prose code {
    @apply rounded p-1 wrap-break-word before:content-none after:content-none;
    color: var(--foreground);
    background-color: color-mix(in srgb, var(--muted) 75%, transparent);
  }

  .app-prose .astro-code code {
    @apply flex-[1_0_100%] bg-inherit p-0;
  }

  .app-prose blockquote {
    @apply wrap-break-word opacity-80;
    border-inline-start-color: color-mix(in srgb, var(--accent) 80%, transparent);
  }

  .app-prose details {
    @apply inline-block cursor-pointer select-none [&_p]:hidden [&_ul]:my-0!;
    color: var(--foreground);
  }

  .app-prose summary {
    @apply focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-dashed;
    outline-color: var(--accent);
  }

  .app-prose pre {
    @apply focus-visible:border-transparent focus-visible:outline-2 focus-visible:outline-dashed;
    outline-color: var(--accent);
  }

  /* ===== Code Blocks & Syntax Highlighting ===== */
  .astro-code {
    @apply flex border bg-(--shiki-light-bg) text-(--shiki-light) [&_span]:text-(--shiki-light);
    outline-color: var(--border);
    border-color: var(--border);
  }

  html[data-theme="dark"] .astro-code {
    @apply bg-(--shiki-dark-bg) text-(--shiki-dark) [&_span]:text-(--shiki-dark);
  }

  /* Styles for Shiki transformers */
  .astro-code .line.diff.add {
    @apply relative inline-block w-full bg-green-400/20 before:absolute before:-left-3 before:text-green-500 before:content-['+'];
  }

  .astro-code .line.diff.remove {
    @apply relative inline-block w-full bg-red-500/20 before:absolute before:-left-3 before:text-red-500 before:content-['-'];
  }

  .astro-code .line.highlighted {
    @apply inline-block w-full bg-slate-400/20;
  }

  .astro-code .highlighted-word {
    @apply rounded-sm border px-0.5 py-px;
    border-color: var(--border);
  }
}
